/* Template CSS */

body {
    color: white;
    background-color: rgb(0, 28, 49);
    width: 150px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

  
h1 {
    font-size: 30px;
    text-align: center;
}

button {
    cursor: pointer;
    background-color: transparent;
    color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    border: 0px solid grey;
    background-color: rgb(0, 52, 93); 
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 5px;
  }
  
  button:hover {
    background-color: rgb(0, 65, 118);
  }