/* Template CSS */

body {
  color: white;
  background-color: rgb(0, 28, 49);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", 
                 Roboto, Helvetica, Arial, sans-serif;
}

#container {
  width: auto;
  height: auto;
  max-width: 500px;
  margin: 0 auto;
  padding-left: 7px;
  padding-right: 7px;
}

#new-site-form {
  margin-bottom: 20px;
}

#sites-fieldset {
  border: 0px solid grey;
  padding: 15px 15px 15px 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: rgb(0, 52, 93); 
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5)

}

.row {
  border: 0px solid grey;
  background-color: rgb(0, 28, 49);
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.rmid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

button {
  cursor: pointer;
  background-color: transparent;
  color: white;
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  border: 0px solid grey;
  background-color: rgb(0, 52, 93); 
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
  margin-right: 3px;
}

button:hover, input[type="submit"]:hover {
  background-color: rgb(0, 65, 118);
}

label {
  font-size: 15px;
  margin-left: 8px;
}

input[type="checkbox"] {
  accent-color: #ffffff; 
}

input[type="text"] {
  width: 150px;
  height: 25px;
  border: 1px solid grey;
  border-radius: 8px;
  padding-left: 5px;
  margin-right: 3px;
}

input[type="submit"] {
  cursor: pointer;
  background-color: transparent;
  color: white;
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  border: 0px solid grey;
  background-color: rgb(0, 52, 93); 
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5)
}

footer {
  text-align: center;
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer a {
  color: inherit;
  /* text-decoration: none; */
}
